.one-team-report {
    padding: 10px;
    margin-bottom: 10px;
}

.one-team-report .robot-number-cell.red {
    background-color: #d26e69;
}

.one-team-report .robot-number-cell.blue {
    background-color: #769ee6;
}

.table-row-bordered {
    border: 2px solid #000;
}

.leave-location-cell.yes {
    background-color: #00ff00;
}

.leave-location-cell.no {
    background-color: red;
}

