.table-row-bordered td {
    border: 2px solid #000;
    text-align: center;
}

.surfacing.black {
    background-color: rgb(0, 0, 0);
    color: white;
    border-right: white 1px solid;
}

.surfacing.red {
    background-color: rgb(255, 0, 0);
}

.surfacing.yellow {
    background-color: rgb(255, 255, 0);
}

.surfacing.green {
    background-color: rgb(0, 255, 0);
}

.surfacing.blue {
    background-color: rgb(0, 0, 255);
    color: white;
    border-right: white 1px solid;
}