.team-number {
  display: flex;
  justify-content: space-around;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.team-number span {
  border: none;
  padding: 1px;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}

.team-number.red .team-container {
  background-color: red;
}

.team-number.blue .team-container {
  background-color: blue;
}