.select-spacing {
    margin-right: 10px;
}

.report-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the container */
}

.report-column {
    flex: 1;
    padding: 10px; /* Add padding to the columns */
    box-sizing: border-box; /* Ensure padding is included in the width */
}